## Web Scraping

we are collecting details of job for python developer from the website : times job (https://www.timesjobs.com/)

In [31]:
#importing all required libraries
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd
import numpy as np

In [21]:
#here we only collecting information for python developer
html_page=requests.get('https://www.timesjobs.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords=Python&txtLocation=')

In [ ]:
soup=BeautifulSoup(html_page.text,'html.parser')
jobs=soup.find_all('li',class_='clearfix job-bx wht-shd-bx')
soup.prettify()

In [23]:
#printing job details in paragraph form
for index,job in enumerate(jobs):
  company_name=job.find('h3',class_='joblist-comp-name').text.strip()
  placeofwork=job.find('ul',class_='top-jd-dtl clearfix').span.text.strip()
  skills=job.find('span',class_='srp-skills').text.strip()
  published_date=job.find('span',class_='sim-posted').text.strip()
  #print(f"SI No.:{index+1},Company Name:{company_name[index]},Place of work:{placeofwork[index]},Published Date:{published_date[index]},Skills required={skills[index]}")
  print(f"{index+1}. ")
  print(f"Company Name : {company_name}")
  print(f"Place of work : {placeofwork}")
  print(f"Published Date : {published_date}")
  print(f"Skills required : {skills}")
  print('')

1.
Company Name : Pure Tech Codex Private Limited
Place of work : Pune
Published Date : Posted few days ago
Skills required : rest  ,  python  ,  database  ,  django  ,  debugging  ,  mongodb

2.
Company Name : Surya Informatics Solutions Pvt. Ltd.
Place of work : Chennai
Published Date : Posted few days ago
Skills required : python  ,  web technologies  ,  linux  ,  mobile  ,  mysql  ,  angularjs  ,  javascript

3.
Company Name : Gemini Solutions
Place of work : Gurgaon
Published Date : Posted few days ago
Skills required : python  ,  mobile  ,  svn  ,  nosql  ,  python scripting  ,  git  ,  api  ,  sql database

4.
Company Name : RESEARCH DEVELOPERS
     (More Jobs)
Place of work : Delhi,  Delhi/NCR,  Noida/Greater Noida
Published Date : Work from Home

Posted a month ago
Skills required : python  ,  research  ,  python programmer  ,  Machine Learning  ,  Pattern Recognition  ,  Image Processing  ,  Digital Image  ,  Signal Processing  ,  Electronic Circuits  ,  Network Analysis

5.
Company Name : Eternal HR Services Pvt Ltd
     (More Jobs)
Place of work : Noida/Greater Noida
Published Date : Work from Home

Posted 3 days ago
Skills required : Python  ,  SQL

6.
Company Name : TECHNOPARK TRIVANDRUM
Place of work : Thiruvananthapuram
Published Date : Posted 5 days ago
Skills required : python  ,  oops  ,  storage

7.
Company Name : Software Development Center - Lenze Mechatronics Pvt Ltd.
     (More Jobs)
Place of work : Pune
Published Date : Posted 1 day ago
Skills required : Python Scripting  ,  Selenium WebDriver  ,  OOP in Python  ,  Jenkins  ,  Git

8.
Company Name : TECHNOPARK TRIVANDRUM
Place of work : Thiruvananthapuram
Published Date : Posted 5 days ago
Skills required : python  ,  debugging  ,  problem solving  ,  sql

9.
Company Name : Ivan Infotech Pvt. Ltd.
Place of work : Kolkata
Published Date : Posted few days ago
Skills required : rest  ,  python  ,  security  ,  debugging

10.
Company Name : DBS Bank Ltd
Place of work : Hyderabad/Secunderabad
Published Date : Posted few days ago
Skills required : python  ,  java  ,  infrastructure  ,  software engineering

11.
Company Name : CONNECTING 2 WORK
Place of work : Calicut/ Kozhikode
Published Date : Posted few days ago
Skills required : rest  ,  python  ,  django  ,  mongodb

12.
Company Name : TECHNOPARK TRIVANDRUM
Place of work : Thiruvananthapuram
Published Date : Posted 3 days ago
Skills required : rest  ,  python  ,  react.js  ,  django  ,  git  ,  infrastructure

13.
Company Name : dbs asia hub 2
Place of work : Hyderabad/Secunderabad
Published Date : Posted few days ago
Skills required : python  ,  java  ,  infrastructure  ,  software engineering

14.
Company Name : brickred  ( 3pillar global )
Place of work :
Published Date : Posted few days ago
Skills required : software products  ,  Python  ,  DynamoDB

15.
Company Name : TandA HR Solutions
Place of work : Gurgaon,  Chandigarh
Published Date : Posted few days ago
Skills required : python  ,  git  ,  django

16.
Company Name : BRICKRED TECHNOLOGIES PVT. LTD.
Place of work :
Published Date : Posted few days ago
Skills required : image processing  ,  python  ,  opencv

17.
Company Name : BRICKRED TECHNOLOGIES PVT. LTD.
Place of work :
Published Date : Posted few days ago
Skills required : image processing  ,  python  ,  opencv

18.
Company Name : BRICKRED TECHNOLOGIES PVT. LTD.
Place of work :
Published Date : Posted few days ago
Skills required : image processing  ,  python  ,  opencv

19.
Company Name : LAKSH HUMAN RESOURCE
Place of work : Mumbai
Published Date : Posted few days ago
Skills required : rest  ,  python  ,  django  ,  git

20.
Company Name : hk infosoft
Place of work : Ahmedabad
Published Date : Posted few days ago
Skills required : python  ,  django  ,    ,   framework

21.
Company Name : TandA HR Solutions
Place of work : Gurgaon
Published Date : Posted few days ago
Skills required : python  ,  django  ,  sql

22.
Company Name : Perfios Software Solutions Pvt. Ltd.
Place of work : Bengaluru / Bangalore
Published Date : Posted few days ago
Skills required : python  ,  java  ,  scala

23.
Company Name : TandA HR Solutions
Place of work : Chandigarh
Published Date : Posted few days ago
Skills required : python  ,  git  ,  django

24.
Company Name : JobsLo Consultants
Place of work : Indore
Published Date : Posted few days ago
Skills required : python  ,  linux  ,  windows  ,  sql

25.
Company Name : TandA HR Solutions
Place of work : Chandigarh
Published Date : Posted few days ago
Skills required : python  ,  git  ,  django

In [25]:
#making text file which stores job information
f = open("Job List", "w")     #text file will created automatically
company_name=[]
placeofwork=[]
skills=[]
published_date=[]
for index,job in enumerate(jobs):
  cn=job.find('h3',class_='joblist-comp-name').text.strip()
  company_name.append(cn)
  pow=job.find('ul',class_='top-jd-dtl clearfix').span.text.strip()
  placeofwork.append(pow)
  skill=job.find('span',class_='srp-skills').text.strip()
  skills.append(skill)
  pd=job.find('span',class_='sim-posted').text.strip()
  published_date.append(pd)
  f.write(str(index+1))
  f.write("\n")
  f.write("Company Name : ")
  f.write(cn)
  f.write('\n')
  f.write("Place of Work : ")
  f.write(pow)
  f.write('\n')
  f.write("Published Date : ")
  f.write(pd)
  f.write('\n')
  f.write("Required Skills : ")
  f.write(skill)
  f.write('\n')
  f.write('\n')
  f.write('\n')
  f.write('\n')
  f.write('\n')
f.close()

In [26]:
#tranformation of list to numpy array
companyName=np.array(company_name)
placeofWork=np.array(placeofwork)
requiredSkills=np.array(skills)
publishedDate=np.array(published_date)

In [27]:
print(published_date[3])

Work from Home

Posted a month ago

In [28]:
print(companyName.shape)

(25,)

In [32]:
#containing jobs details in table format
#using pandas dataframe to make a csv file
column_values = ['Company Name','Place of work','Published Date (Work at Home may also available)','Skills Required']
zip_array=np.array([companyName,placeofWork,publishedDate,requiredSkills]).T
print(zip_array.shape)
df = pd.DataFrame(data = zip_array, columns = column_values)
df

(25, 4)

,Company Name,Place of work,Published Date (Work at Home may also available),Skills Required
0,Pure Tech Codex Private Limited,Pune,Posted few days ago,"rest , python , database , django , de..."
1,Surya Informatics Solutions Pvt. Ltd.,Chennai,Posted few days ago,"python , web technologies , linux , mobi..."
2,Gemini Solutions,Gurgaon,Posted few days ago,"python , mobile , svn , nosql , python..."
3,RESEARCH DEVELOPERS\r\n (More Jobs),"Delhi, Delhi/NCR, Noida/Greater Noida",Work from Home \r\n\t\t \t\nPosted a month ago,"python , research , python programmer , ..."
4,Eternal HR Services Pvt Ltd\r\n (More Jobs),Noida/Greater Noida,Work from Home \r\n\t\t \t\nPosted 3 days ago,"Python , SQL"
5,TECHNOPARK TRIVANDRUM,Thiruvananthapuram,Posted 5 days ago,"python , oops , storage"
6,Software Development Center - Lenze Mechatroni...,Pune,Posted 1 day ago,"Python Scripting , Selenium WebDriver , OO..."
7,TECHNOPARK TRIVANDRUM,Thiruvananthapuram,Posted 5 days ago,"python , debugging , problem solving , sql"
8,Ivan Infotech Pvt. Ltd.,Kolkata,Posted few days ago,"rest , python , security , debugging"
9,DBS Bank Ltd,Hyderabad/Secunderabad,Posted few days ago,"python , java , infrastructure , softwar..."
10,CONNECTING 2 WORK,Calicut/ Kozhikode,Posted few days ago,"rest , python , django , mongodb"
11,TECHNOPARK TRIVANDRUM,Thiruvananthapuram,Posted 3 days ago,"rest , python , react.js , django , gi..."
12,dbs asia hub 2,Hyderabad/Secunderabad,Posted few days ago,"python , java , infrastructure , softwar..."
13,brickred ( 3pillar global ),,Posted few days ago,"software products , Python , DynamoDB"
14,TandA HR Solutions,"Gurgaon, Chandigarh",Posted few days ago,"python , git , django"
15,BRICKRED TECHNOLOGIES PVT. LTD.,,Posted few days ago,"image processing , python , opencv"
16,BRICKRED TECHNOLOGIES PVT. LTD.,,Posted few days ago,"image processing , python , opencv"
17,BRICKRED TECHNOLOGIES PVT. LTD.,,Posted few days ago,"image processing , python , opencv"
18,LAKSH HUMAN RESOURCE,Mumbai,Posted few days ago,"rest , python , django , git"
19,hk infosoft,Ahmedabad,Posted few days ago,"python , django , , framework"
20,TandA HR Solutions,Gurgaon,Posted few days ago,"python , django , sql"
21,Perfios Software Solutions Pvt. Ltd.,Bengaluru / Bangalore,Posted few days ago,"python , java , scala"
22,TandA HR Solutions,Chandigarh,Posted few days ago,"python , git , django"
23,JobsLo Consultants,Indore,Posted few days ago,"python , linux , windows , sql"
24,TandA HR Solutions,Chandigarh,Posted few days ago,"python , git , django"

In [33]:
#saving our data into csv file
df.to_csv('Job Details.csv', index=True)